<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> <!-- MyBatis的文档类型定义声明 -->

<!-- 根元素，定义了映射文件的命名空间，应与Mapper接口的完全限定名匹配 -->
<mapper namespace="com.sky.mapper.SetmealDishMapper">

    <!-- 批量插入套餐菜品关联信息的SQL映射 -->
    <insert id="insertBatch" parameterType="list">
        <!-- SQL语句开始 -->
        insert into setmeal_dish (setmeal_id, dish_id, name, price, copies)
        <!-- VALUES关键字后跟动态生成的值列表 -->
        VALUES
        <!-- foreach标签用于遍历传入的Java列表对象，collection属性指定了传入参数的名称 -->
        <foreach collection="setmealDishes" item="sd" separator=",">
            <!-- 动态生成的值，使用#{sd.属性名}引用遍历对象的属性 -->
            (#{sd.setmealId},#{sd.dishId},#{sd.name},#{sd.price},#{sd.copies})
        </foreach>
        <!-- SQL语句结束 -->
    </insert>

    <!-- 根据菜品ID列表查询关联套餐ID的SQL映射 -->
    <select id="getSetmealIdsByDishIds" resultType="java.lang.Long">
        <!-- SQL语句开始 -->
        select setmeal_id from setmeal_dish where dish_id in
        <!-- foreach标签用于构造IN语句中的参数列表 -->
        <foreach collection="dishIds" item="dishId" separator="," open="(" close=")">
            <!-- 遍历过程中动态插入的参数值 -->
            #{dishId}
        </foreach>
        <!-- SQL语句结束 -->
    </select>

</mapper> <!-- 映射文件结束 -->